# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET

SECRET_KEY=''         # never tell this anyone
SUPERUSERNAME=''      # e.g. admin
SUPERUSER_EMAIL=''    # e.g. admin@example.com
SUPERUSER_PASSWORD='' # a place to put that really strong password

# note: .env is a shell file so there can't be spaces around =
